.page {
    display: grid;
    grid-template-rows: auto 1fr var(--spectrum-global-dimension-size-400);
    height: 100%;
    min-height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spectrum-global-dimension-size-200);
    padding: 0 var(--spectrum-global-dimension-size-200);
    height: var(--spectrum-global-dimension-size-600);
    background: var(--spectrum-global-color-gray-100);
    border-bottom: 1px solid var(--spectrum-global-color-gray-300);
}

.brand {
    font-weight: 600;
}
